fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv

# DB + cache
pymongo
dnspython
redis

pypdf
openai-whisper
ffmpeg-python

# AI + processing 
langchain
langchain-core
langchain-community 
langchain-text-splitters
langchain-huggingface
langchain-groq

faiss-cpu
sentence-transformers

torch
numpy

# Testing
pytest
pytest-cov
httpx
